@font-face {
  font-family: 'Kelly Slab';
  src: url('assets/fonts/KellySlab-Regular.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #1f2329;
  font-family: 'IBM Plex Sans';
  color: #dadada;
}

main {
  width: 70%;
  margin: 0 auto;
}